//- a;;video.pug
html
  head
  title The Dentist is In Video
  style (rel='stylesheet',href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css")               
  body
    h1 The Dentist is in Video Chat
    div (class='nput-group input-group-lg')
    h2 Click button to start Video Chat
input(type='file', accept='image/*' size)
   

      