html, body {
   width: 100%;
   height: 100%;
   margin: 0;
   padding: 0;
   overflow: hidden;
}
.page-container__content {
   bottom: 40px;
}
.page-conatiner__footer {
   position: absolute;
   right: 0;
   bottom: 0;
   left: 0;
   height: 40px;
   line-height: 40px;
   border-top: 1px solid #e7e7e7;
   background-color: #f8f8f8;
}
.page-quiz__score-container {
   display: inline-block;
   vertical-align: top;
   margin-bottom: 10px;
   padding: 6px 8px;
   border: 1px solid #cccccc;
   background-color: #f2f2f2;
}
.medium-text {
   color: #15314F;
   font-size: 14px;
   font-family: 'Roboto', sans-serif;
}
.large-text {
   color: #15314F;
   font-size: 24px;
   font-family: 'Roboto', sans-serif;
}
.page-quiz__question {
   width: 100%;
   padding: 10px;
   margin: 15px auto;
   border: 1px solid #cccccc;
   background-color: #f2f2f2;
}
.page-quiz__question:first-child {
   margin-top: 0;
}
.page-quiz__question:last-child {
   margin-bottom: 0;
}
.question__index {
   line-height: 20px;
   display: inline-block;
   vertical-align: top;
   padding: 2px 6px;
   border-radius: 2px;
   background-color: #15314F;
   color: white;
   text-align: center;
   font-size: 14px;
   font-family: 'Roboto', sans-serif;
}
.question__status {
   float: right;
   line-height: 20px;
   display: inline-block;
   vertical-align: top;
   padding: 2px 4px;
   border-radius: 2px;
   color: white;
   text-transform: uppercase;
   text-align: center;
   font-size: 12px;
   font-family: 'Roboto', sans-serif;
}
.question__status--correct {
   background-color: #55c68e;
}
.question__status--incorrect {
   background-color: #FC6157;
}
.question__question-text {
   display: block;
   margin: 12px 0;
   color: #999999;
   font-size: 16px;
   font-family: 'Roboto', sans-serif;
}
.question-content__option {
   width: 100%;
   height: 32px;
   line-height: 32px;
   margin: 8px 0;
   padding-left: 15px;
   border: 1px solid #cccccc;
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
}
.question-content__option:first-child {
   margin-top: 0;
}
.question-content__option:last-child {
   margin-bottom: 0;
}
.question-option__status {
   margin-left: 15px;
   color: #15314F;
   font-size: 14px;
   font-family: 'Roboto', sans-serif;
}
.question-option__status--green {
   color: #55c68e;
}
.question-option__status--red {
   color: #FC6157;
}
.question-explanation {
   margin-top: 15px;
}
.question-explanation__title {
   color: #15314F;
   font-size: 14px;
   font-family: 'Roboto', sans-serif;
}
.question-explanation__text {
   color: #999999;
   font-size: 14px;
   font-family: 'Roboto', sans-serif;
}
.footer__container--right {
   float: right;
   position: relative;
   margin-right: 15px;
   text-align: right;
}
@media (max-width: 540px) {
   .page-content__container {
      width: 90%;
   }
}
